img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 35px;
}

.price{
    font-size: 18px;
    margin-bottom: 0px;
}

.name{
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 0;
    flex-grow: 1;
}

.weight{
    color: gray;
    font-size: 14px;
    margin-bottom: 0px;
}

button{
    background-color: #f1eee9;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    
}

.dish:hover button{
    background-color: rgb(184, 184, 184);
}

.dish:hover  {
    border: 2px solid tomato;
}

.dishes{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.dish {
    display: flex;
    flex-direction: column; 
    padding: 30px 40px;
    border-radius: 35px;
    background-color: white;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor: pointer;
    border: 2px solid transparent;
}

.nav-flex ul{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.nav-flex li{
    margin-right: 0;
}

.active{
    color: tomato;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 2;
}

label{
    display: block;
}

fieldset{
    border: 0;
    padding: 0;
    margin: 0;
}

.order{
    padding-left: 200px;
}

.data{
    padding-left: 20px;
}

fieldset div{
    margin-top: 20px;
}

small{
    display: block;
    margin-top: 2px;
    font-size: 13px;
    font-style: italic;
    font-weight: 900;
}

.form{
    display: grid;
    grid-template-columns: repeat(2,1fr);;
}



fieldset .time{
    margin-top: 20px;
    padding-left: 0;
}


.center-title{
    text-align: center;
    margin-bottom: 40px;
}

.label-inline{
    display: inline-block;
}

label[for="delivery-time"]{
    margin-top: 20px;
}

fieldset button{
    border-radius: 0;
    background-color: transparent;
    border: 1px black solid;
    padding: 6px 27px;
    margin-top: 20px;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="tel"], 
input[type="time"],
select  {
    width: 250px; 
    height: 32px;
}

input[type="radio"],
input[type="checkbox"] {
    transform: scale(1.2); 
    margin-right: 2px;
}


textarea{
    width: 250px; 
    height: 100px;
}

label{
    margin-bottom: 5px;
}

.legend{
    font-size: 20px;
    margin-bottom: 8px;
}

#subs{
    margin-top: 12px;
}

fieldset fieldset div {
    margin-top: 4px;
}

fieldset fieldset legend {
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .nav-flex ul {
        justify-content: space-around;
    }

    .dishes{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }
}

@media (max-width: 600px) {
    h1{
        text-align: center;
    }

    h2{
        text-align: center;
    }

    .nav-flex ul{
        flex-direction: column;
        align-items: center; 
        font-size: 20px;
    }

    .dishes{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }
    .dish{
        padding: 10px 5px;
        border-radius: 15px;
    }
}

.dish.selected {
    border: 2px solid #ffa500;
}

.filters button{
    background-color: transparent;
    color: green;
    padding: 8px;
    margin-bottom: 24px;
    margin-left: 12px;
}

.filters button:hover{
    color: rgb(1, 74, 1);
}

.filters button.active {
    padding: 8px;
    background-color: aquamarine;
}